{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Profile - {{ name }}</title>
{% endblock meta %}

{% block content %}
<section class="tab-content active" id="profile">
    <div class="profile-layout">
        <div class="profile-text profile-text-container">
            <p class="profile-study-kicker">
                {{ study_program }} &middot; Universitas Indonesia
            </p>
            <h1 class="profile-greeting-heading">
               Hello, I'm <br>
               <span>{{ name }}</span>
            </h1>
            <h3 class="profile-npm-text">NPM: {{ npm }}</h3>
            <p class="profile-bio-text">
                {{ bio }}
            </p>
            <div class="social-links">
                <a href="https://github.com/xhenst" class="social-link">GitHub</a>
                <a href="https://www.linkedin.com/in/kaylalifahk/" class="social-link">LinkedIn</a>
                <a href="mailto:kaylalifahk@gmail.com" class="social-link">Email</a>
            </div>
        </div>
        
        <div class="photo-wrapper profile-photo-container">
            <div class="photo-backdrop"></div>
            <div class="photo-frame">
                <img src="{% static 'img/foto-kayla.png' %}" alt="Photo of {{ name }}">
            </div>
        </div>
    </div>
</section>
{% endblock content %}