{% extends 'base.html' %}
{% block content %}
 <main>
        <section class="hero" id="profile">
            <div class="container hero-grid">
                <div class="hero-identity">
                    <p class="hero-kicker">Information System &middot; Universitas Indonesia</p>
                    <h1>Kayla Alifah Khairunisa</h1>
                </div>
                <div class="hero-photo">
                    <div class="photo-block"></div>
                    <img class="avatar" src="/static/img/foto-kayla.png" alt="Photo of {{ name }}">
                </div>
                <div class="hero-details">
                    <p class="bio">{{ bio }}</p>
                    <dl class="meta-list">
                        <div class="meta-row">
                            <dt>NPM</dt>
                            <dd>{{ npm }}</dd>
                        </div>
                        <div class="meta-row">
                            <dt>Program</dt>
                            <dd>{{ study_program }}</dd>
                        </div>
                    </dl>
                    <div class="social-links">
                        <a href="https://github.com/xhenst" class="social-link">GitHub</a>
                        <a href="https://www.linkedin.com/in/kaylalifahk/" class="social-link">LinkedIn</a>
                        <a href="kaylalifahk@gmail.com" class="social-link">Email</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
